html {
	box-sizing: border-box;
    background-color: #F1F1F1;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
}

.container *{
    margin: 0;
}

.header{
    min-height: 154px;
    vertical-align: top;
    margin-bottom: 70px;
}

.header-first-line{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-logo{
    display: inline-block;
    margin-right: 20px;
}

.header-address{
    display: inline-block;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    vertical-align: top;
    align-self: center;
}

.header-personal_account{
    position: absolute;
    display: inline-block;
    align-self: center;
    vertical-align: top;
    right: 0;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    background-image: url(../img/keyboard_tab.svg);
    padding-left: 29px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left center;
}

.header-nav{
    position: relative;
    margin-bottom: 70px;
    background-color: #fff;
    border-radius: 15px;
    height: 70px;
}

.header-list{
    display: inline-block;
    padding: 0;
}

.header-list-item{
    display: inline-block;
    text-align: center;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    margin: 27px 0;
    margin-left: 45px;
}

.header-link{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.header-list-additional{
    display: inline-block;
    position: absolute;
    right: 25px;
}

.header-list-additional-item{
    display: inline-block;
    margin: 14px 0;
    margin-right: 40px;
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

.special_offers{
    margin-bottom: 70px;
}

.special_offers-content{
    display: flex;
    flex-wrap: wrap;
}

.special_offers-title{
    display: block;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 20px;
}

.special_offer-1{
    flex-grow: 1;
    vertical-align: top;
    position: relative;
    width: 573px;
    margin-bottom: 24px;
    margin-right: 24px;
}

.special_offer-2{
    flex-grow: 1;
    position: relative;
    width: 573px;
    margin-right: 24px;
}

.special_offer-3{
    flex-grow: 1;
    margin: 0;
    bottom: 10px;
    left: 0px;
    position: relative absolute;
    width: 573px;
}

.about_us-content{
    margin-bottom: 70px;
}

.about_us-title{
    margin-bottom: 20px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.about-us-paragraph{
    max-width: 872px;
    min-height: 192px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.services{
    margin-bottom: 70px;
}

.services-title{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.services-items{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}

.service-items-li{
    width: 573px;
    margin-right: 24px;
}

.service-items-li:nth-child(2n){
    margin-right: 0;
    margin-bottom: 24px;
}

.services-items-title{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
}

.services-items-paragraph{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.advantages{
    margin-bottom: 70px;
}

.advantages-title{
    margin-bottom: 20px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.advantages-content-ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}

.advantages-content-ul-li{
    margin-right: 22px;
    margin-bottom: 22px;
    width: 276px;
}

.advantages-content-ul-li:nth-child(4n){
    margin-right: 0;
}

.accommodation{
    margin-bottom: 70px;
}

.accomodation-title{
    margin-bottom: 20px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.accommodation-content-ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}

.accommodation-content-ul-li{
    width: 374px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.accommodation-content-ul-li:nth-child(3n){
    margin-right: 0;
}

.accommodation-content-ul-li-ul{
    list-style-type: none;
    padding-left: 0;
}

.accommodation-content-ul-li-ul-li{
    margin-bottom: 16px;
}

.accomodation-content-ul-li-ul-li-h4{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 16px;
}

.accommodation-content-ul-li-ul-li-place{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}