html {
	box-sizing: border-box;
    background-color: #E5E5E5;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

@font-face {
	font-family: 'Muller'; 
	src: url(../fonts/MullerMedium.woff2); 
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
}

.container *{
    margin: 0;
}

/* <----------------Header----------------> */

.header{
    min-height: 154px;
    vertical-align: top;
    margin-bottom: 70px;
}

.header-first-line{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-second-line{
    position: relative;
    margin-bottom: 70px;
    background-color: #fff;
    border-radius: 15px;
    height: 70px;
}

.header-logo{
    display: inline-block;
    margin-right: 20px;
}

.header-address{
    padding: 17px 0;
    display: inline-block;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    vertical-align: top;
    align-self: center;
}

.header-personal_account{
    padding: 17px 0;
    position: absolute;
    display: inline-block;
    align-self: center;
    vertical-align: top;
    right: 0;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    background-image: url(../img/keyboard_tab.svg);
    padding-left: 29px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left center;
}

.header-nav{
    display: inline-block;
}

.header-list{
    display: inline-block;
    padding: 0;
}

.header-list-item{
    display: inline-block;
    text-align: center;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    margin: 27px 0;
    margin-left: 45px;
}

.header-link{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.header-list-additional{
    display: inline-block;
    position: absolute;
    right: 25px;
    padding-left: 0;
}

.header-list-additional-item{
    display: inline-block;
    margin: 14px 0;
    margin-right: 40px;
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

/* <----------------Special_offers----------------> */

.special_offers{
    margin-bottom: 70px;
}

.special_offers-content{
    display: flex;
}

.special_offers-title{
    display: block;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 20px;
}

.special_offers-left_content{
    width: 573px;
    height: 540px;
    margin-right: 24px;
}

.special_offer-1{
    padding: 40px 108px 40px 45px;
    vertical-align: top;
    position: relative;
    width: 573px;
    height: 258px;
    margin-bottom: 24px;
    margin-right: 24px;
    background-image: url("../img/Rectangle\ 15.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
}

.special_offer-2{
    padding: 40px 108px 40px 45px;
    position: relative;
    width: 573px;
    height: 258px;
    background-image: url("../img/Rectangle\ 15\ \(1\).png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
}

.special_offer-title{
    margin-bottom: 15px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    z-index: 1;
}

.special_offer-title-3{
    margin-bottom: 15px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.special_offer-prices{
    margin-bottom: 47px;
    z-index: 1;
}

.special_offer-paragraph{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

.special_offer-3{
    padding: 212px 229px 148px 45px;
    width: 573px;
    height: 540px;
    position: relative;
    background-image: url("../img/33\ 1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
}

.special_offer-buttons{
    width: 101.28px;
    background-image: url("../img/Rectangle\ 2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.special_offers-button-more{
    background: none;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
}

/* <----------------About_us----------------> */

.about_us-content{
    margin-bottom: 70px;
}

.about_us-title{
    margin-bottom: 20px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.about-us-paragraph{
    max-width: 872px;
    min-height: 192px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

/* <----------------Services----------------> */

.services{
    margin-bottom: 70px;
}

.services-img{
    border-radius: 15px 15px 0px 0px;
}

.services-title{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.services-items{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}

.services-card-content{
    padding: 26px 126px 35px 45px;
}

.service-items-li{
    width: 573px;
    min-height: 330px;
    margin-right: 24px;
    margin-bottom: 24px;
    background: #FFFFFF;
    border-radius: 15px;
}

.service-items-li:nth-child(2n){
    margin-right: 0;
    margin-bottom: 24px;
}

.services-items-title{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    background-image: url("../img/Rectangle\ 2.svg");
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 15px;
}

.services-items-paragraph{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

/* <----------------Adventages----------------> */

.advantages{
    margin-bottom: 70px;
}

.advantages-title{
    margin-bottom: 20px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.advantages-content-ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}

.advantages-content-ul-li{
    margin-right: 22px;
    margin-bottom: 22px;
    width: 276px;
    min-height: 276px;
    display: flex;
    background: #FFFFFF;
    border-radius: 15px;
    background-repeat: no-repeat;
}

.advantages-content-ul-li:nth-child(4n){
    margin-right: 0;
}

.advantages-content-ul-li-paragraph{
    padding: 116px 42px 32px 45px;
    text-align: left;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

.advantages-img{
    background-position: 45px 40px;
    background-size: 64px 66px;
}

.advantages-img-1{
    background-image: url("../img/bathtub.svg");
}
.advantages-img-2{
    background-image: url("../img/hanger.svg");
}
.advantages-img-3{
    background-image: url("../img/heating.svg");
}
.advantages-img-4{
    background-image: url("../img/hotel-key.svg");
}
.advantages-img-5{
    background-image: url("../img/parking.svg");
}
.advantages-img-6{
    background-image: url("../img/reception.svg");
}
.advantages-img-7{
    background-image: url("../img/security-box.svg");
}
.advantages-img-8{
    background-image: url("../img/swimming-pool.svg");
}

/* <----------------Accomodation----------------> */

.accommodation{
    margin-bottom: 70px;
}

.accomodation-title{
    margin-bottom: 20px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.accommodation-content-ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}

.accommodation-content-ul-li{
    width: 374px;
    margin-right: 24px;
    margin-bottom: 24px;
    background: #FFFFFF;
    border-radius: 15px;
    min-height: 440px;
}

.accommodation-content-ul-li-hotel_img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 0;
    margin-bottom: 32px;
}

.accommodation-content-ul-li:nth-child(3n){
    margin-right: 0;
}

.accommodation-content-ul-li-ul{
    list-style-type: none;
    padding-left: 0;
    margin-left: 45px;
}

.accommodation-content-ul-li-ul-li{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-right: 52px;
    margin-bottom: 16px;
    display: inline-block;
}

.accomodation-content-ul-li-ul-li-h3{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 16px;
}

.accommodation-content-ul-li-ul-li-place{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
    margin-bottom: 20px;
}

.accommodation-content-ul-li-stars{
    display: inline-block;
}

.accommodation-content-ul-li-buttondiv{
    margin-bottom: 45px;
}

.accommodation-price{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.accommodation-from{
    color: #999999;
}

.accomodation-all_variants{
    position: relative;
    background-image: url("../img/41.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 440px;
}

.accommodation-all_variants-a{
    position: absolute;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    bottom: 27px;
    left: 54px;
    background-image: url("../img/Rectangle\ 2_white.svg");
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: right center;
}

/* <----------------Want_tour----------------> */

/* <----------------Contacts----------------> */

/* <----------------Footer----------------> */